/ssl_spectro_venv/*
/SpeechCommands/*
/speech_commands_v0.02.tar.gz
*.pyc
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/check*.pth
*.pth.tar
/models/checkpoint_best.pth
/.idea/*
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/img.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_00.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_01.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_02.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_03.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_04.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_05.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_06.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_07.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_08.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_09.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_10.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_11.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_12.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_13.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_14.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_15.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_16.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_17.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_18.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_19.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_20.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_21.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_22.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/attn/attn-head_23.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_00.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_01.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_02.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_03.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_04.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_05.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_06.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_07.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_08.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_09.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_10.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_11.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_12.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_13.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_14.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_15.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_16.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_17.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_18.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_19.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_20.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_21.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_22.png
/output/esvit_exp/ssl/swin_tiny_test_spectro_crap/explanation/potato_0/potato_0/layer11_query9/mask_th0.6/mask_th0.6_head_23.png
